* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, Helvetica, sans-serif;
  background-color: aquamarine;
  /* background-color: rgba(169, 228, 243, 0.884); */
}
.container {
  width: 35%;
  padding: 25px;
  background-color: lightblue;
  display: grid;
  align-items: center;
  place-content: center;
  margin: 0 auto;
  border-radius: 10px;
}
h1 {
  text-align: center;
}
button {
  background-color: #4caf50;
  width: 100%;
  color: rgb(58, 48, 42);
  padding: 15px;
  margin: 10px auto;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
}
form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid rgb(162, 209, 162);
  border-radius: 10px;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

.form_social_media {
  width: 460px;
  height: auto;
  margin: 10px 0px;
}
.form_social_btn {
  width: 440px;
  height: 60px;
  /* line-height:60px; */
  display: flex;
  
}
.form_social_btn input {
  width: 440px;
  height: 35px;
  text-align: center;
  color: rgb(126, 194, 207);
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form_social_btn span {
  width: 30px;
  height: 40px;
  margin-left: 10px;
  line-height: 40px;
  float: left;
  border-radius: 10px;
}
.form_social_btn span i {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: rgb(219, 106, 223);
  /* margin:0px; */
  /* background-color:#f0205e; */
}
.form_social_btn {
  width: 440px;
  height: 40px;
  margin: 15px auto;
  outline: none;
  /* border: none; */
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 20px;
  float: left;
}
.form_social_btn:hover {
  border: 2px solid rgb(224, 165, 165);
  border-radius: 20px;
}
p{
  text-align: center;
}