
<body>
    <h1>Login To Suta</h1>
    <div class="container">
     
  
      <!-- <label>Username : </label>   
           <input type="text" placeholder="Enter Username" name="username" required>  -->
      <div>
        <label>Email Or Name: </label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <label>Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <br />
        
      
        <a routerLink="/Forgot">Forgot Password? </a> 
    
        <button type="submit"  (click)="Login()" class="btn btn-primary mt-3">Login</button>
        
     


        <br />
         <!-- <input type="checkbox" checked="checked" /> Remember me -->
         <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <!-- Forgot <a href="#"> password? </a> -->
        <!-- Don't have an account  <a href=".">Signup</a> -->
      </div>
    </div>
    <p>Don't have an account <a routerLink="/signup" >Signup</a></p>
  </body>
  <div >
    <footer class="page-footer font-small pt-4">
       <div class="row3">
                <div class="column">
                   <ul class="list-unstyled">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">RETURN & EXCHANGE REQUEST</h5>
                        <li>Contact Us!</li>
                        <li>Frequently Asked Questions</li>
                        <li>We Are Hiring!</li>
                        <li>Wholesale Enquiries</li>
                        <li>Suta Earth</li>
                        <li>About Us!</li>
                        <li>Suta Coins</li>
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NEWS LETTER</h5>
                    <li>Subscribe to receive updates, access to exclusive deals, and more</li>
                    <ul class="list-unstyled">  
                    <!-- <li><button type="checked" class="btn btn-secondary btn-lg" aria-pressed="true" style={{color: "white"}} disabled>SUBSCRIBE</button></li> -->
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="text-uppercase">CUSTOMER SERVICE</h5>
  
                    <ul class="list-unstyled">    
                            <li>Terms & Conditions</li>
                            <li>Shipping & Delivery Policy</li>
                            <li>Privacy Policy</li>
                            <li>Disclaimer Policy</li>
                            <li>Cancellation & Refund Policy</li>   
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="text-uppercase">ABOUT SUTA</h5>
                    <ul class="list-unstyled">    
                            <li>Suta combines India's centuries-old weaving traditions with contemporary style- so that what looks good, feels good too</li><br />
                            <li>Toll Free: 1800 123 236 511</li><br />
                            <li>Email: info@suta.in</li>
                    </ul>
                </div>
                <div class="column">
                  <h5 class="text-uppercase">Copyright 2020 © Suta Private Limited. All rights reserved</h5>
            </div>
        </div>
  
    </footer>
  </div>
