<h1>home-living</h1>
<div class="row1">
    <div class="column">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-plums-curtain-281025_800x.jpg?v=1611046898">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-plums-curtain-281025_800x.jpg?v=1611046898" alt="Forest" width="300" height="300">
    </a>
<div class="desc">I DREAM OF PLUMS (CURTAIN)</div>
</div>
<div>
<h5 >MRP: RS. 2,180.00</h5>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<form action="/action_page.php">
    <label for="points">No.of:</label>
    <input type="number" id="points" name="No.of" step="1">
</form>
</div>                 
</div>
<div class="row1">
    <div class="column">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-clouds-curtain-917394_400x.jpg?v=1611045123">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-clouds-curtain-917394_400x.jpg?v=1611045123" alt="Forest" width="300" height="300">
    </a>
<div class="desc">I DREAM OF CLOUDS (CURTAIN)</div>
</div>
<div>
    <h5 >MRP: RS.3,500.00</h5>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star"></span>
    <form action="/action_page.php">
        <label for="points">No.of:</label>
        <input type="number" id="points" name="No.of" step="1">
    </form>
    </div>
</div>
<div class="row1">
    <div class="column">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-oceans-curtain-333433_400x.jpg?v=1611045194">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/i-dream-of-oceans-curtain-333433_400x.jpg?v=1611045194" alt="Forest" width="300" height="300">
    </a>
<div class="desc">I DREAM OF OCEANS (CURTAIN)</div>
</div>
<div>
    <h5 >MRP: RS.5,800.00</h5>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <form action="/action_page.php">
        <label for="points">No.of:</label>
        <input type="number" id="points" name="No.of" step="1">
    </form>
    </div>
</div>
<div >
    <footer class="page-footer font-small pt-4">
       <div class="row3">
                <div class="column">
                   <ul class="list-unstyled">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">RETURN & EXCHANGE REQUEST</h5>
                        <li>Contact Us!</li>
                        <li>Frequently Asked Questions</li>
                        <li>We Are Hiring!</li>
                        <li>Wholesale Enquiries</li>
                        <li>Suta Earth</li>
                        <li>About Us!</li>
                        <li>Suta Coins</li>
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NEWS LETTER</h5>
                    <li>Subscribe to receive updates, access to exclusive deals, and more</li>
                    <ul class="list-unstyled">  
                    <!-- <li><button type="checked" class="btn btn-secondary btn-lg" aria-pressed="true" style={{color: "white"}} disabled>SUBSCRIBE</button></li> -->
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="text-uppercase">CUSTOMER SERVICE</h5>
  
                    <ul class="list-unstyled">    
                            <li>Terms & Conditions</li>
                            <li>Shipping & Delivery Policy</li>
                            <li>Privacy Policy</li>
                            <li>Disclaimer Policy</li>
                            <li>Cancellation & Refund Policy</li>   
                    </ul>
                </div>
  
                <div class="column">
                    <h5 class="text-uppercase">ABOUT SUTA</h5>
                    <ul class="list-unstyled">    
                            <li>Suta combines India's centuries-old weaving traditions with contemporary style- so that what looks good, feels good too</li><br />
                            <li>Toll Free: 1800 123 236 511</li><br />
                            <li>Email: info@suta.in</li>
                    </ul>
                </div>
                <div class="column">
                  <h5 class="text-uppercase">Copyright 2020 © Suta Private Limited. All rights reserved</h5>
            </div>
        </div>
  
    </footer>
  </div>