.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  .row1::after {
    content: "";
    clear: both;
    display: table;
  }
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  h1{
    text-align: center;
  }
  footer{
    background-color: aquamarine;
    }
    .column {
      float: left;
      width: 30%;
      padding: 5px;
    }
    .row3::after {
      content: "";
      clear: both;
      display: table;
    }
    .row3 {
      display: flex;
    }
  