<h1>All sarees</h1>
<div class="row1">
  <div class = "column">
    <a  href="/product">sarees <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747' style="width:100%" />
    </a>
  </div>
  <div class = "column">
    <a href="/product">cotton <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622' style="width:100%"/>
    </a>
  </div>
  
</div>


<!-- <div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747" alt="Forest" width="300" height="300">
    </a>
<div class="desc">Sarees</div>
</div>
<div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/walking-angels-trouser-813464_400x.jpg?v=1635228331"
    >
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/walking-angels-trouser-813464_400x.jpg?v=1635228331"
       alt="Forest" width="300" height="300">
 </a>
<div class="desc">Mesn wear</div>
</div>
<div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622"
    >
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622"
      alt="rights" width="300" height="300">
    </a>
<div class="desc">Dresses</div>
</div> -->

