<h1>All sarees</h1>
<div class="row1">
  <div class = "column">
    <a  href="/product">sarees <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747' style="width:100%" />
    </a>
  </div>
  <div class = "column">
    <a href="/product">cotton <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622' style="width:100%"/>
    </a>
  </div>
  
</div>
<div >
  <footer class="page-footer font-small pt-4">
     <div class="row3">
              <div class="column">
                 <ul class="list-unstyled">
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">RETURN & EXCHANGE REQUEST</h5>
                      <li>Contact Us!</li>
                      <li>Frequently Asked Questions</li>
                      <li>We Are Hiring!</li>
                      <li>Wholesale Enquiries</li>
                      <li>Suta Earth</li>
                      <li>About Us!</li>
                      <li>Suta Coins</li>
                  </ul>
              </div>

              <div class="column">
                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NEWS LETTER</h5>
                  <li>Subscribe to receive updates, access to exclusive deals, and more</li>
                  <ul class="list-unstyled">  
                  <!-- <li><button type="checked" class="btn btn-secondary btn-lg" aria-pressed="true" style={{color: "white"}} disabled>SUBSCRIBE</button></li> -->
                  </ul>
              </div>

              <div class="column">
                  <h5 class="text-uppercase">CUSTOMER SERVICE</h5>

                  <ul class="list-unstyled">    
                          <li>Terms & Conditions</li>
                          <li>Shipping & Delivery Policy</li>
                          <li>Privacy Policy</li>
                          <li>Disclaimer Policy</li>
                          <li>Cancellation & Refund Policy</li>   
                  </ul>
              </div>

              <div class="column">
                  <h5 class="text-uppercase">ABOUT SUTA</h5>
                  <ul class="list-unstyled">    
                          <li>Suta combines India's centuries-old weaving traditions with contemporary style- so that what looks good, feels good too</li><br />
                          <li>Toll Free: 1800 123 236 511</li><br />
                          <li>Email: info@suta.in</li>
                  </ul>
              </div>
              <div class="column">
                <h5 class="text-uppercase">Copyright 2020 © Suta Private Limited. All rights reserved</h5>
          </div>
      </div>

  </footer>
</div>


<!-- <div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747" alt="Forest" width="300" height="300">
    </a>
<div class="desc">Sarees</div>
</div>
<div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/walking-angels-trouser-813464_400x.jpg?v=1635228331"
    >
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/walking-angels-trouser-813464_400x.jpg?v=1635228331"
       alt="Forest" width="300" height="300">
 </a>
<div class="desc">Mesn wear</div>
</div>
<div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622"
    >
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622"
      alt="rights" width="300" height="300">
    </a>
<div class="desc">Dresses</div>
</div> -->

