<h1>All sarees</h1>
<div class="gallery">
    <a target="_blank" href="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747">
      <img src="https://cdn.shopify.com/s/files/1/0026/6544/7536/products/dreaming-of-ocean-271942_900x.jpg?v=1637333747" alt="Forest" width="300" height="300">
    </a>
<div class="desc">Sarees</div>
</div>
<p>SKU: SUTAWS882</p>
              <h1 >MRP: RS. 2,800.00</h1>
              <p>Price inclusive of taxes</p>
              <p>Or 3 interest-free payments of ₹933 with  </p>
              <div class="container d-flex" >
                  </div>
                  