<head>
</head>
<body>
    <h1>SignUp To Suta</h1>
    <div class="container">
      <!-- <label>Username : </label>   
           <input type="text" placeholder="Enter Username" name="username" required>  -->
        <label>Name: </label>
        <input type="text" placeholder="Enter Name" name="name" required />
        <label>Email: </label>
        <input type="email" placeholder="Enter Email" name="email" required />
        <label>Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <label>PhoneNumber: </label>
        <input type="text" placeholder="Enter PhoneNumber" name="PhoneNumber" required />
        <label>Address: </label>
        <input type="text" placeholder="Enter Address" name="Address" required />


        <br />   
        <button type="submit"  (click)="signUp()" class="btn btn-primary mt-3">Sign Up</button>
        <br />
        <!-- <input type="checkbox" checked="checked" /> Remember me -->
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <!-- Forgot <a href="#"> password? </a> -->
        <!-- Don't have an account  <a href=".">Signup</a> -->
    <p>You have an account <a routerLink="/login" >Login</a></p>
</div>
  </body>
