<!-- <body>
    <h1>ForgotPassword</h1>
    <div class ="container">
     <label> <b>Email </b></label>
     <input type="text" placeholder="" name="Email" required>
     <label for=" New Password"><b> New Password</b></label>
     <input type="text" placeholder="" name="New Password" required>
     <label for=" Conform Password"><b> Conform Password</b></label>
     <input type="text" placeholder="" name="Confrom Password" required>
     <input type="button" value="Submit"/>

    </div>
     <p>Go to<a routerLink="/login">Login</a></p>

</body> -->
<body>
    <h1>SignUp To Suta</h1>
    <div class="container">
      <!-- <label>Username : </label>   
           <input type="text" placeholder="Enter Username" name="username" required>  -->
        <label>Email: </label>
        <input type="email" placeholder="Enter Email" name="email" required />
       
        <br />   
        <button type="submit"  (click)="Forgot()" class="btn btn-primary mt-3">submit</button>
        <br />
    </div>
</body>