*{box-sizing: border-box}
body {
 
 background-color: #ddd;
 font-family: "Roboto", sans-serif;
 margin-left:500px;
 margin-right:500px;
 padding:45px; 
 margin-top: 200px;
 
}
.container{
 position: relative;
 width: 300px;
 height:300px;
 left:10%; 
  }
.container
 {
   
 width: 360px;
 height: 250px;
 margin: auto;
 background-color:white;
 border-radius: 3px;
}
h1
{
 text-align:center;
 color:lightslategrey;
}

.container {
  
 width: 300px;
 margin-left: 20px;
}
.container label {
  
 display: flex;
 margin-top: 20px;
 font-size: 18px;
}
.container input {
 width: 100%;
 padding: 7px;
 border: none;
 border: 1px solid gray;
 border-radius: 6px;
 outline: none;
}
input[type="button"] {
 width: 320px;
 height: 35px;
 margin-top: 20px;
 border: none;
 background-color: #3598dc;
 color: white;
 font-size: 18px;
 }
 p {
   text-align: center;
   padding-top: 20px;
   font-size: 15px;
  }