
<body>
    <h1>ForgotPassword</h1>
    <div class ="container">
     <label> <b>Email </b></label>
     <input type="text" placeholder="" name="Email" required>
     <label for=" New Password"><b> New Password</b></label>
     <input type="text" placeholder="" name="New Password" required>
     <label for=" Conform Password"><b> Conform Password</b></label>
     <input type="text" placeholder="" name="Confrom Password" required>
     <input type="button" value="Submit"/>

    </div>
     <p>Go to<a routerLink="/login">Login</a></p>

</body>